# local secrets
.env
.env.*
*.local
.py

# config.js
secrets/
frontend/html_backup/
frontend/txt/
__pycache__/

# google credentials
service_account.json
oauth_credentials.json
token.json
credentials.json

# logs
*.log

# zip
*.zip

# texts
#*.txt

# OS
.DS_Store
Thumbs.db